
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
}
header{
    padding: 80px;
    text-align: center;
    background-color:#1abc9c;
    color: white;
}
header h1{
    font-size: 40px;
}
.navbar{
    overflow: hidden;
    background-color: #333;

}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

}
.navbar a.right{
    float: right;

}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    background-color: #dbd821;
}
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main{
    flex: 70%;
    
    padding: 20px;

}
.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: rgba(223, 110, 233, 0.931);
}
@media screen and (max-width:700px){
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width:400px){
    .navbar a{
        float: none;
        width: 100%;
    }
}